<div class="row">
  <div class="col-md-6 text-left">
    <%= link_to 'Back', @activity, class: "btn btn-primary" %>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to 'Activities', activities_path, class: "btn btn-primary" %>
  </div>
</div>

<h1>Editing Activity</h1>

<%= render 'form', activity: @activity %>
