<h1>Contacts</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>Alberto Dietre, Lisanna Canton, Eliana Battisti</h4>
    </div>
    <div class="col-sm">
      <h3>Where are we</h3>
    </div>
    <div class="col-sm">
      <h4>Aula B103 Povo2</h4>
    </div>

    <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDNXGgr7GK4isksp3GEnary-dBkdc-VDjU
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>
  </div>
</div>
