<div class="container">
  <h1 class="text-center">Dashboard</h1>

  <div><a href="#report" class="btn btn-primary">Reports</a></div>
  <%= render 'statistics' %>

  <div id="report">
    <%= render 'reports' %>
  </div>

</div>
