<div class="text-center"><h1>FAQ</h1></div>

<div class="container">
  <div><h3>General questions</h3></div>

  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title expand">
             <div class="right-arrow pull-right">+</div>
            <a href="#">QUESTION1</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">FAQ 1</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-title expand">
              <div class="right-arrow pull-right">+</div>
            <a href="#">QUESTION2</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">FAQ 2</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-title expand">
              <div class="right-arrow pull-right">+</div>
            <a href="#">QUESTION3</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">FAQ 3</div>
        </div>
      </div>
    </div>

    <div><h3>Billing</h3></div>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="panel-title expand">
               <div class="right-arrow pull-right">+</div>
              <a href="#">QUESTION1</a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">FAQ 1</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="panel-title expand">
                <div class="right-arrow pull-right">+</div>
              <a href="#">QUESTION2</a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">FAQ 2</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="panel-title expand">
                <div class="right-arrow pull-right">+</div>
              <a href="#">QUESTION3</a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">FAQ 3</div>
          </div>
        </div>
      </div>
</div>
